body {
    font-family: 'Arapey', serif;
    display: flex;
}

nav {
    align-self: flex-start;
    position: sticky;
    top: 0px;
    flex-basis: 20%;
    box-sizing: border-box;
    text-align: center;

}

main {
    flex-basis: 80%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: gray -3px -1px;

}

h1 {
    text-align: right;
}

h3 {
    text-decoration: underline;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 15px;
}